<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../reg_styles.css">
    <title>Registro</title>
</head>
<body>
    <form action="/registro" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nombre"> <br>
        <input type="text" name="email" placeholder="Correo"> <br>
        <input type="text" name="password" placeholder="Contraseña"> <br>
        <p>Seleccionar foto de perfil</p><input type="file" name="profilePic">
        <button id="enviar">Enviar</button>
    </form>
</body>
</html>