$base: 12;

@function getWidth($col){
    @return ($col / $base) * 100%;
}

.article {
    width: 80%;
    text-align: center;
    font-family: 'Trebuchet MS';
    padding: 15px;
    border-radius: 5px;
    background-color: seashell;
    border: 3px solid darkorchid;
}

img {
    width: 100%;
}

@import '_gridSecondary';