@import '_grid';

html, body{
    background-color: slategray;
    width: 98%;
}

h1, p{
    color: whitesmoke;
    font-family: 'Trebuchet MS';
    text-align: center;
}

input, button{
    width: 75%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    line-height: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
    border-color: rosybrown;
    background-color: pink;
    font-family: 'Trebuchet MS';
}

button{
    border-color: plum;
    background-color: plum;
    font-weight: bold;
    font-size: large;
}

button:hover{
    background-color: violet;
}

p a{
    color: skyblue;
    text-decoration: none;
}

.article a{
    background-color: purple;
    padding: 8px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}